/* =============== CSS Variable & Intial Setup CSS ============== */

:root{
  /* Colors */
  --color-bg : #fff;
  --color-bg-variant : lightblue;
  --color-primary-variant : lightgreen;
  --color-primary : lightcoral;
  --color-white : #fff;
  --color-light: #fff;

  /* Container Width */
  --container-sm : 90%;
  --container-md : 85%;
  --container-lg : 75%;

  /* Font Family */
  --ff-primary : 'Poppins', sans-serif;

  /* Transition */
  --transition: all 400ms ease ;

}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

input, 
button, 
textarea,
select{
  font: inherit;
}

body{
  min-height: 100vh;
  background-color: var(--color-bg);
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--color-primary);
}

#root{
  min-height: 100vh;
}

/* =============== COMMON STYLES ============== */

.container{
  width: var(--container-lg);
  margin-inline: auto;
}

section{
  padding: 1rem;
}

main{
  height: 100vh;
}

h1,
h2,
h3,
h4{
  font-weight: 500;
}

input{
  padding: 0.5rem;
    margin-block: 0.5rem;
    border-radius: 0.3rem;
    outline: none;
    border: 1px solid;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

h1{
  font-size: 2.5rem;
}

a{
  text-decoration: none;
  color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
}

ul{
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
}

.btn{
  width: fit-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.25rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid var(--color-primary);
}

.btn-primary{
  background-color: var(--color-primary);
  color: white;
}

/* =============== ALIGNMENTS ============== */

.grid-center{
  display: grid;
  place-items: center;
}

.flex-row{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

/* MATERIAL CHANGE */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  padding: 0.5rem !important;
  color: var(--color-primary) !important;
  font-size: 0.8rem !important;
}

.css-13xfq8m-MuiTabPanel-root {
  padding-top: 1rem !important;
}


/* =============== MEDIA QUERIES ============== */

@media screen and (max-width: 1024px) {
  .container{
    width: var(--container-md);
  }
}

@media screen and (max-width: 600px) {
  .container{
    width: var(--container-sm);
  }
}
